            {% extends 'base.html' %}


            {% block content %}
            <div class="shadow card">
                <div class="card-body">
                    <h5 class="card-title">{{task1.name}}</h5>
                    <p><b>{{task1.priority}}</b></p>
                    <p><b>{{task1.date}}</b></p>
                    <a class="btn btn-danger" href="{% url 'delete' task1.id %}">done</a>
                    <a class="btn btn-success" href="{% url 'update' task1.id %}">Update</a>
                </div>
            </div>
            {% endblock %}













<!--<!DOCTYPE html>-->
<!--<html lang="en">-->
<!--<head>-->
<!--    <meta charset="UTF-8">-->
<!--    <title>Title</title>-->
<!--</head>-->
<!--<body>-->
<!--{% for i in task %}-->
<!--{{i.name}}-->
<!--{{i.priority}}-->
<!--{% endfor %}-->
<!--</body>-->
<!--</html>-->